In [2]:
import pandas as pd

In [6]:
stox_data = {
    'Ticker': ['ANGL','ARYE','DANL','DRNC','ELLI','FRDY','JIN','RCHL'],
    'Price': [196,433,223,170,222,170,185,174]
}

stox_df = pd.DataFrame(stox_data)
stox_df

  Ticker  Price
0   ANGL    196
1   ARYE    433
2   DANL    223
3   DRNC    170
4   ELLI    222
5   FRDY    170
6    JIN    185
7   RCHL    174

In [8]:
starting_balance = 1000

portfolio = {
    'balance': starting_balance,
    'holdings': {ticker: 0 for ticker in stox_df['Ticker']}
}

portfolio

{'balance': 1000,
 'holdings': {'ANGL': 0,
  'ARYE': 0,
  'DANL': 0,
  'DRNC': 0,
  'ELLI': 0,
  'FRDY': 0,
  'JIN': 0,
  'RCHL': 0}}

In [12]:
def buy_stock(ticker, quantity):
    price = stox_df.loc[stox_df['Ticker'] == ticker, 'Price'].values[0]
    cost = price * quantity
    broker_fee = 5
    total_cost = cost + broker_fee

    if portfolio['balance'] >= total_cost:
        portfolio['balance'] -= total_cost
        portfolio['holdings'][ticker] += quantity
        print(f"Bought {quantity} shares of {ticker} at ₣{price} each (₣{total_cost} total).")
    else:
        print("NOT ENOUGH FUNDS, BITCH")


    print("Balance:", portfolio['balance'])
    print("Holdings:", portfolio['holdings'])

In [14]:
buy_stock('FRDY', 2)

Bought 2 shares of FRDY at ₣170 each (₣345 total).
Balance: 655
Holdings: {'ANGL': 0, 'ARYE': 0, 'DANL': 0, 'DRNC': 0, 'ELLI': 0, 'FRDY': 2, 'JIN': 0, 'RCHL': 0}

In [16]:
buy_stock('ARYE', 3)

NOT ENOUGH FUNDS, BITCH
Balance: 655
Holdings: {'ANGL': 0, 'ARYE': 0, 'DANL': 0, 'DRNC': 0, 'ELLI': 0, 'FRDY': 2, 'JIN': 0, 'RCHL': 0}

In [ ]:
buy_stock('ARYE', 1)